@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
	overflow-y: scroll;
}

:root {
	--font-sans: 'Roboto', sans-serif;
	--font-heading: 'Montserrat', sans-serif;
	--swiper-pagination-color: var(--color-accent);
	--swiper-pagination-bullet-size: 12px;
	--swiper-pagination-bullet-inactive-color: var(--color-accent);
	--swiper-pagination-bullet-inactive-opacity: 0.3;
	--swiper-pagination-bullet-horizontal-gap: 8px;
	--swiper-pagination-bottom: 30px;
	--radius: 0.625rem;
	--background: #eeedf0 !important;
	--foreground: #333333 !important;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-roboto);
	--font-heading: var(--font-montserrat);
	--color-button: #f5d0d3;
	--color-button-text: #33060a;
	--color-accent: #d85a7f;
	--color-white-text: #eeedf0;
	--color-accent-text: #4b2d9f;
	--color-stars: #EA9558;
	--color-transparent-text: rgba(0, 0, 0, 0.5);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}
.swiper-pagination {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	transition: all 0.4s ease !important;
}
.swiper-pagination-bullet {
	transition: all 0.3s cubic-bezier(0.22, 0.61, 0.3, 1) !important;
}
.swiper-pagination-bullet-active {
	height: 16px !important;
	width: 16px !important;
	transform: scale(1.1);
}

body {
	overflow-x: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: var(--font-sans);
	padding: 0;
	margin: 0;
	min-width: 360px;
	width: 100%;
	position: relative;
}

h1,
h2,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	padding: 0;
}
h3 {
	font-family: var(--font-sans);
}

@layer base {
	h1 {
		@apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold;
	}
	h2 {
		@apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold;
	}
	h3 {
		@apply text-lg/5 sm:text-lg/5 md:text-xl/6 lg:text-xl/7 xl:text-2xl/7 2xl:text-3xl/7  font-light;
	}
	p {
		@apply text-base md:text-lg lg:text-xl;
	}
	label {
		@apply text-sm md:text-base lg:text-lg;
	}

	hr {
		@apply border-b w-full opacity-20;
	}
}

@layer components {
	.button-text {
		@apply text-2xl font-normal;
	}
	.container {
		@apply w-full max-w-[1400px] px-4 mx-auto;
	}
	.link-hover {
		@apply hover:text-accent active:text-accent hover:scale-125 duration-300 transition-all;
	}
	.link-size {
		@apply h-6 w-6 md:h-7 md:w-7 lg:h-8 lg:w-8 xl:h-9 xl:w-9;
	}
	.section {
		@apply py-16 px-2 lg:px-15 xl:px-30;
	}
	.main-section {
		@apply py-4 md:py-8 lg:py-12 xl:py-16 px-2 lg:px-15 xl:px-30;
	}
	.hover-active-text {
		@apply hover:text-accent active:text-accent ease-out duration-300 transition-all;
	}
	.hover-active-bg {
		@apply hover:bg-accent active:bg-accent duration-300 ease-out transition-colors;
	}
	.li-hover {
		@apply hover:text-accent active:text-accent cursor-pointer duration-300 ease-out transition-all;
	}
	.caption {
		@apply text-xs md:text-sm lg:text-base xl:text-lg font-light text-transparent-text;
	}
	.price {
		@apply text-xl md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl font-bold;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-5px) scale(1);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.animate-fadeIn {
	animation: fadeIn 0.2s ease-out forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* For touch devices */
@media (pointer: coarse) {
  [class*="scroll-smooth"] {
    -webkit-overflow-scrolling: touch;
  }
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}