@import 'tailwindcss';

html {
	overflow-y: scroll;
}

:root {
	--background: #eeedf0 !important;
	--foreground: #333333 !important;
	--font-sans: 'Roboto', sans-serif;
	--font-heading: 'Montserrat', sans-serif;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-roboto);
	--font-heading: var(--font-montserrat);
	--color-button: #f5d0d3;
	--color-button-text: #33060a;
	--color-accent: #d85a7f;
	--color-white-text: #eeedf0;
	--color-accent-text: #4b2d9f;
	--color-transparent: #000000/35;
}

body {
	overflow-x: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
	padding: 0;
	margin: 0;
	min-width: 360px;
	width: 100%;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	padding: 0;
}

@layer base {
	h1 {
		@apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold;
	}
	h2 {
		@apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold;
	}
	p {
		@apply text-base md:text-lg lg:text-xl;
	}
	hr {
		@apply border-b w-full opacity-20;
	}
}

@layer components {
	.button-text {
		@apply text-2xl font-normal;
	}
	.container {
		@apply w-full max-w-[1400px] px-4 mx-auto;
	}
	.link-hover {
		@apply hover:text-accent duration-300 hover:scale-125;
	}
	.link-size {
		@apply h-6 w-6 md:h-7 md:w-7 lg:h-8 lg:w-8 xl:h-9 xl:w-9;
	}
	.section {
		@apply py-16 px-2 lg:px-15 xl:px-30;
	}
	.li-hover {
		@apply hover:text-accent cursor-pointer transition-colors;
	}
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px) scale(1);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}