@import 'tailwindcss';

:root {
	--background: #eeedf0;
	--foreground: #333333;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-roboto);
	--font-heading: var(--font-montserrat);
	--color-button: #f5d0d3;
	--color-button-text: #33060a;
	--color-accent: #d85a7f;
	--color-white-text: #eeedf0;
	--color-accent-text: #4b2d9f;
	--color-transparent: #000000/35;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

@layer components {
	.button-text {
		@apply text-lg font-semibold;
	}
	.container {
		@apply w-full max-w-[1400px] px-4 mx-auto;
	}
	.link-hover {
		@apply hover:text-accent duration-300 hover:scale-125;
	}
	.section {
		@apply py-16;
	}
}
